*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Hammersmith One", serif;
    font-weight: 400;
    font-style: normal;
    
    /*background-image: url("/libraryManagementSystem/assets/logo.webp");
    background-repeat: no-repeat;
    background-size: cover;*/

}


header{
    background-color: rgb(52,5,33);
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Hammersmith One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}
#library-info{
    padding: 20px;
}
.head{
      font-size: 30px;
      color:rgb(44, 42, 42);
      margin-bottom: 5px;
    }
.info{
    padding: 5px;
    font-size: 20px;
}
.head2{
    font-size: 30px;
      color:rgb(44, 42, 42);
      margin-bottom: 5px;
}
#contact-form{
    padding: 20px;
    text-align: center;
}
.form{
    padding: 5px;
    margin-top: 10px;

}
.field{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    width:30%;
}
#subject{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 31.5%;
    padding: 10px;
    border-radius:8px ;
    border:1px solid black;
}
#message{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30%;
    padding: 10px;
    border-radius:8px ;
    border:1px solid black;
}
.button{
    padding: 10px;
    font-size: 15px;
    border-radius:8px ;
    border:1px solid black;
    background-color: rgb(52,5,33);
    color: white;
    margin-left: 30px;
}
#library-location{
    margin-top: 10px;
    font-size: 22px;
    color:rgb(44, 42, 42);
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
}
#working-hours{
    margin-top: 10px;
    font-size: 22px;
    color:rgb(44, 42, 42);
    margin-bottom: 5px;
    padding: 20px;

}
.footer{
    background-color: rgb(52,5,33);
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.header img{
    height: 50px;
    float: left;
}

